* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
    font-style: normal;
    color: #000000;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.03em;
    color: #333333;
    margin: 16px 0 40px;
}

span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #333333;
}

li {
    list-style: none;
}

::placeholder {
    color: #917046 !important;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

}

.btn-default {
    padding: 12px 32px;
    background: #E29625;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.btn-default:hover {
    background: #FEB250;
    color: #fff;
}



.btn-secondary {
    border: 1px solid #E29625;
    color: #E29625;
    background-color: transparent;
    padding: 12px 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.03em;
}

.btn-secondary:hover {
    background: #FEB250;
    border: 1px solid #FEB250;
}

body {
    font-family: 'Montserrat';
}

.top-header {
    background-color: #E6AF5D;
}

.top-header h4 {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.top-header .close-icon {
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    color: #fff;
}

.header {
    border-bottom: 1px solid #E4E4E4;
}

.header .logo img {
    width: 142px;
}

.header .form-control {
    border-radius: 30px;
    background: rgba(202, 173, 130, 0.12);
    border: 1px solid #B2803F;
    padding-left: 26px;
    padding-right: 36px;
}

.header .form .icon {
    top: 51%;
    transform: translateY(-50%);
    right: 12px;
    color: #8C5B1A;
    cursor: pointer;
}

.header .form .form-control:focus,
.header .form .btn-default:focus {
    box-shadow: unset !important;
}

.header .form .btn-default {
    border: 1px solid #B2803F;
    border-left-color: transparent;
    background: rgba(202, 173, 130, 0.12);
    border-radius: 0 30px 30px 0;
    color: #B2803F;
    padding: 12px 12px;
    font-size: 18px;
}


.header .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.03em;
    color: #575757;
}

.navigations .navbar {
    padding: 20px 0 16px;
    border-bottom: 1px solid #E4E4E4;
}

.navigations .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.03em;
    color: #333333 !important;
}

.navigations .nav-link:hover {
    color: #D78C2C !important;
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 80px !important;
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 10px 10px;
    border-top: 4px solid #D78C2C;
    border-radius: 0px;
    text-align: center;
    border: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #D78C2C !important;
    background-color: transparent;
}

.navigations .navbar-nav {
    width: 100%;
    justify-content: space-between;
}


.navigations .dropdown-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #575757;
    padding: 10px 1rem !important;
    border-bottom: 1px solid #ebebeb62;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu li:last-child .dropdown-item {
    border: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
    border-top: 3px solid #E29625 !important;
}

/* hero section */
.hero .content img {
    width: 100%;
    min-height: 60vh;
    object-fit: cover;
}

.hero .details {
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
}

.hero .details h1 {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -0.03em;
}


.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 12px !important;
    font-weight: 600 !important;
}

.hero .swiper-button-next:after,
.hero .swiper-button-prev:after {
    font-size: 18px !important;
    font-weight: 600 !important;
}

.hero .swiper-button-next,
.hero .swiper-button-prev {
    width: 40px !important;
    height: 40px !important;

}

.swiper-button-next,
.swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
    border-radius: 100%;
    color: white !important;
    background: rgb(1 1 1 / 14%) !important;
    margin-top: 0;
}

.hero .swiper-button-next {
    right: 4%;
}

.hero .swiper-button-prev {
    left: 4%;
}

.categories .title {
    margin: 64px 0 40px;
}

.categories .title h3 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.03em;
}

.categories .content {
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.categories .content .image {
    transition: .5s linear;
}

.categories .content:hover .image,
.countertops-categories .content:hover .image {
    object-fit: cover;
    transform: scale(1.1);
    transition: .6s linear;
}

.categories .content .arrow,
.countertops-categories .content .arrow {
    overflow: hidden;
}

.categories .content .arrow-image,
.countertops-categories .content .arrow-image {
    position: relative;
    left: -100%;
    transition: .1s all linear;
}

.categories .content:hover .arrow-image,
.countertops-categories .content:hover .arrow-image {
    position: relative;
    left: 5%;
}

.categories .content span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #333333;
    padding-left: 12px;
}


.featured {
    margin: 80px 0;
}

.featured .content {
    margin: 0 auto;
}

.featured .content h2 {
    font-size: 40px;
    line-height: 50px;
}

.featured .content li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #575757;
    list-style: disc;
}

.featured .content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #333333;
}

.featured .content {
    width: 60%;
    margin: 0 auto;
}

.featured .content .btn-default {
    margin-top: 56px;
}

.bestSelling {
    padding: 44px 0;
    background: #F8F5F0;
}

.bestSelling .content h2 {
    font-size: 40px;
    line-height: 120%;
    color: #252525;
}

.bestSelling .content p {
    color: #616161;
    font-size: 16px;
    line-height: 24px;
    color: #616161;
    margin: 8px 0 48px;
}

.bestSelling .swiper-slide {
    height: 60vh;
}


.bestSelling .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bestSelling .swiper-slide.swiper-slide-active {
    height: 70vh;
}

.bestSelling .swiper-slide.swiper-slide-active,
.bestSelling .swiper-slide.swiper-slide-next {
    width: 315px !important;
}

.bestSelling .swiper-button-next {
    right: 19%;
    background: #fff !important;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16) !important;
    color: #000000 !important;
    width: 40px !important;
    height: 40px !important;
}

.bestSelling .swiper-button-prev {
    left: -5px;
    background: #fff !important;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16) !important;
    color: #000000 !important;
    width: 40px !important;
    height: 40px !important;
}

.bestSelling .swiper-slide .content {
    bottom: 24px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(1.5px);
    padding: 30px;
    left: 24px;
}

.bestSelling .swiper-slide .content h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #444444;

}

.bestSelling .swiper-slide .content span {
    width: 27px;
    height: 1px;
    display: inline-block;
    background: #444444;
    vertical-align: middle;
    margin: 0 5px 2px;

}

.bestSelling .swiper-slide .content h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    color: #252525;
    margin-top: 12px;
}

.bestSelling .swiper-slide img {
    position: relative;
    z-index: 100;
}

.bestSelling .swiper-slide.swiper-slide-active img {
    position: relative;
    z-index: -100;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    height: 24px;
    background: transparent;
    border: 1px solid #E29625;
    position: relative;
}

span.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active:before {
    content: "";
    position: relative;
    width: 10px;
    height: 10px;
    background: #E29625;
    border-radius: 100%;
    display: inline-block;
    margin: 0 auto;
    line-height: 20px;
}

.popular .title {
    margin: 25px 0 40px;
}

.popular .content h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;

}

.popular .content {
    transition: .3s all linear;
}

.popular .content:hover img {
    transform: scale(1.1);
    transition: .5s all linear;
}

.popular .content:hover .image {
    border: 1px solid #C9C9C9;
}

.popular .content .image {
    height: 286px;
    overflow: hidden;
}

.popular .content h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
}

.popular .content p {
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}

.popular .btn-secondary {
    margin-top: 32px;
}

.second-categories .title {
    margin: 76px 0 40px;
}

.second-categories .content {
    overflow: hidden;
    height: 125px;
    cursor: pointer;
}

.second-categories .content:hover img {
    transform: scale(1.1);
    transition: .3s linear;
}

.second-categories .content img {
    width: 100%;
    height: 123px;
    object-fit: cover;
    border-radius: 6px;
}

.second-categories .content .titles {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000063;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-categories .content .titles h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.pDisplay .nav {
    margin: 10px 0 40px;
}

.pDisplay .content {
    margin-top: 80px;
}

.pDisplay .content h2 {
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.03em;
    color: #000000;

}

.pDisplay h5 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.03em;
    color: #333333;
}

.pDisplay .content p {
    font-size: 16px;
    line-height: 26px;
    color: #575757;
    margin: 32px 0 56px;
}

.pDisplay span {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #333333;
    font-style: normal;
}

.pDisplay .details .box {
    border-radius: 3px;
    padding: 9px;
}

.pDisplay .more-details {
    width: 75%;
}

.pDisplay .details .box .box-color {
    height: 80px;
    background: #312F2D;
    border-radius: 3px;
    margin-bottom: 5px;
}

.pDisplay .details .box .box-color1 {
    background: #A6A19D;
}

.pDisplay .details .box .box-color2 {
    border: 1px solid #C9C9C9;
}

.pDisplay .pCollection {
    margin-top: 56px;
    width: 80%;
}

.pDisplay .pCollection .details .box .box-color {
    background: #E0E0E0;
    border-radius: 3px;
    height: 209px;
    border-radius: 3px;
}

.pDisplay .pCollection .details .box .box-color2 {
    background: #969390;
}

.pDisplay .swiper-button-next:after,
.pDisplay .swiper-button-prev:after {
    font-size: 22px !important;
    font-weight: 900 !important;
    color: #000;
}

.pDisplay .swiper-button-next,
.pDisplay .swiper-button-prev {
    width: auto;
    width: auto;
    color: black !important;
    background: transparent !important;
}

.pDisplay .swiper {
    padding-right: 0.5rem !important;
    padding-left: 1.5rem !important;
}

.pDisplay .swiper-button-next {
    right: -8px;
}

.pDisplay .swiper-button-prev {
    left: -8px;
}

.faqs button.accordion-button.collapsed {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #333333;
    padding: 0 0 6px 3px;
    border-bottom: 1px solid #737373;
}

.faqs .accordion-button::after {
    background-image: unset !important;
}

.faqs .icon {
    transform: translateX(-50%);
    right: 5px;
}

.faqs .accordion-button:focus {
    box-shadow: unset !important;
}

.relatedP h5 {
    margin-top: 64px;
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.03em;
    color: #333333;
}

.relatedP .swiper-button-next:after,
.relatedP .swiper-button-prev:after {
    font-size: 22px !important;
    font-weight: 900 !important;
    color: #000;
}

.relatedP .swiper-button-next,
.relatedP .swiper-button-prev {
    width: auto;
    width: auto;
    color: black !important;
    background: transparent !important;
}

.relatedP .swiper {
    padding-right: 0.5rem !important;
    padding-left: 1.5rem !important;
}

.relatedP .swiper-button-next {
    right: -8px;
}

.relatedP .swiper-button-prev {
    left: -8px;
}

.countertops .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000003b;
}

.countertops .content {
    top: 50%;
    transform: translateY(-50%);
    width: 420px;
    left: 10%;
    padding: 48px;
    background: #fff;
}

.countertops img {
    min-height: 38vh;
    object-fit: cover;
}

.countertops .content h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -0.03em;
    color: #333333;
}

.countertops .content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
}

.countertops-categories {
    margin-top: 92px;
}

.countertops-categories .content {
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.countertops .nav {
    margin-top: 12px;
    margin-left: 15px;
}

.countertops .nav-link,
.pDisplay .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #575757;
    padding: 3px;
    margin: 0 3px;
}

.countertops .nav-link.active,
.pDisplay .nav-link.active {
    color: #333333;
    font-weight: 500;
}

.sortBy .content select.form-select {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #333333;
    border: none;
    padding: 0.375rem 2.02rem 0.375rem 0.3rem;
}

.sortBy .content select.form-select:focus {
    box-shadow: unset !important;
}

.sortBy .btn-primary {
    border: 1px solid #333333;
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    padding: 8px 12px 8px 12px;
    color: #333333;
    border-radius: 0;
}

.granite {
    margin-bottom: 85px;
}

.granite span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-decoration-line: underline;
    color: #E29625;
    cursor: pointer;
}

.granite-product h3 {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.03em;
    margin-top: 57px;
    margin-bottom: 40px;
    color: #000000;
}

.gallery {
    margin-top: 80px;
}

.gallery h3 {
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 8px;
}

.gallery p {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #333333;
    margin-bottom: 22px;
}

/* footer */
.footer {
    border: 1px solid #D6D6D6;
    padding: 32px 0 51px;
    margin-top: 100px;
}

.footer img {
    width: 142px;
}

.social-media {
    margin-top: 32px;
}

.social-media .icon {
    font-size: 22px;
    margin-right: 12px;
}

.social-media span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.025em;
    color: #333333;
}

.footer h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.025em;
    color: #262626;
}

.footer h6::after {
    content: "";
    position: absolute;
    height: 1px;
    background: #333333;
    width: 170px;
    left: 0;
    bottom: -14px;
}

.footer .menu {
    margin-top: 30px;
}

.footer .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.025em;
    color: #333333;
    padding-left: 0;
    padding-right: 0;
}

.footer .copyrights {
    margin-top: 40px;
}

.footer .copyrights span {
    font-size: 14px;
    line-height: 9px;
    letter-spacing: -0.025em;
    color: #919191;
}

.filter .content select.form-select {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #333333;
    border: 1px solid #D7D7D7;
    padding: 0.375rem 2.02rem 0.375rem 0.3rem;
    margin: 10px 5px 0 0;
}

.filter .btn-default {
    background: #EFEFF0;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #222325;
    padding: 4px 8px;
    margin: 5px 12px 5px 0;
}

.filter .btn-secondary {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #222325;
    border: none;
    padding: 0;
}

.filter .btn-secondary:hover {
    color: #D78C2C;
}

.filter .btn-secondary:focus {
    background: transparent;
    border: none;
    box-shadow: none;
}

.filter .fa-close {
    margin-left: 8px;
    color: #787878;
    vertical-align: middle;
}

.filter .btn-warning,
.sortBy .btn-warning {
    background: #333333;
    border: 1px solid #333333;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    border-radius: 0;
    margin-top: 10px;
}

.filter .btn-warning:hover {
    background: #1a1919;
    border: 1px solid #333333;

}

@media only screen and (max-width: 600px) {
    .featured .content {
        width: 100%;
    }

    .pDisplay .more-details {
        width: 100%;
    }

    .pDisplay .pCollection {
        width: 100%;
    }

    .countertops .content {
        top: 50%;
        transform: translateY(-50%);
        width: 70%;
        left: 5%;
        padding: 18px;
        background: #fff;
    }

    .countertops .content h3 {

        font-size: 30px;
        line-height: 40px;
    }

    .footer h6::after {
        content: "";
        position: absolute;
        height: 1px;
        background: #333333;
        width: 100px;
        left: 0;
        bottom: -14px;
    }

    .bestSelling .swiper-slide.swiper-slide-active,
    .bestSelling .swiper-slide.swiper-slide-next {
        width: 100% !important;
    }

    .bestSelling .swiper {
        padding: 0;
    }

    .bestSelling .swiper-button-next {
        right: 0;
    }

    .countertops img {
        min-height: 50vh;
        object-fit: cover;
    }

    .relatedP .swiper {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .relatedP .swiper .swiper-slide img {
        width: 100%;
    }

    .top-header h4 {
        font-size: 11px;
    }

    .navigations .nav-link {
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 1000px) {

    .featured .content {
        width: 100%;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translateX(0%);
    }

}

@media only screen and (max-width: 1250px) {
    .bestSelling .swiper-button-next {
        right: -3px;
    }
}